<div class="container">
  <div class="jumbotron">
    <h2 class="display-5">Available Plots</h2>
    
    <div class="row">

        <div class="card" style="width: 18rem;">
          <img src="../../assets/002-seeds.png">
            <div class="card-body">
              <h4 class="card-title">Seeding</h4>
              <a [routerLink]="['/Seeding']" class="btn btn-primary">Manage</a>
            </div>
          </div>

        <div class="card" style="width: 18rem;">
          <img src="../../assets/001-hose.png">
            <div class="card-body">
              <h4 class="card-title">Watering</h4>
              <a [routerLink]="['/Watering']" class="btn btn-primary">Manage</a>
            </div>
          </div>
    
          <div class="card" style="width: 18rem;">
            <img src="../../assets/003-sprinkler.png">
            <div class="card-body">
              <h4 class="card-title">Manuring</h4>
              <a [routerLink]="['/Manuring']" class="btn btn-primary">Manage</a>
            </div>
          </div>
        
            <div class="card" style="width: 18rem;">
              <img src="../../assets/010-tractor.png">
              <div class="card-body">
                <h4 class="card-title">Harvesting</h4>
                <a [routerLink]="['/Harvesting']" class="btn btn-primary">Manage</a>
              </div>
            </div>
        </div>       
  </div> 

  <div class="jumbotron">
    <h2 class="display-5">Seeded Plots</h2>
    
    <div class="row">

        <div class="card" style="width: 18rem;">
          <img src="../../assets/002-seeds.png">
            <div class="card-body">
              <h4 class="card-title">Seeding</h4>
              <a [routerLink]="['/Seeding']" class="btn btn-primary">Manage</a>
            </div>
          </div>

        <div class="card" style="width: 18rem;">
          <img src="../../assets/001-hose.png">
            <div class="card-body">
              <h4 class="card-title">Watering</h4>
              <a [routerLink]="['/Watering']" class="btn btn-primary">Manage</a>
            </div>
          </div>
    
          <div class="card" style="width: 18rem;">
            <img src="../../assets/003-sprinkler.png">
            <div class="card-body">
              <h4 class="card-title">Manuring</h4>
              <a [routerLink]="['/Manuring']" class="btn btn-primary">Manage</a>
            </div>
          </div>
        
            <div class="card" style="width: 18rem;">
              <img src="../../assets/010-tractor.png">
              <div class="card-body">
                <h4 class="card-title">Harvesting</h4>
                <a [routerLink]="['/Harvesting']" class="btn btn-primary">Manage</a>
              </div>
            </div>
        </div>
  </div> 

</div>