<nav class="navbar navbar-expand-lg navbar-light bg-light">  
  
    <div *ngIf="userType == 'ADMIN'" >
        <a class="navbar-brand" [routerLink]="['/Admin']">
        <div class="row">            
              <img src="../../assets/scarecrow.png" style="height:40px; margin-top: -10px"><span>AgriBlock</span>
        </div></a>        
    </div>

    <div *ngIf="userType == 'FARMER'" >
        <a class="navbar-brand" [routerLink]="['/FarmerHome']">
        <div class="row">            
              <img src="../../assets/scarecrow.png" style="height:40px; margin-top: -10px"><span>AgriBlock</span>
        </div></a>        
    </div>
  
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">

    <!--ADMIN NAVBAR-->
    <ul *ngIf="userType == 'ADMIN'" class="navbar-nav mr-auto">
      <li class="nav-item ">
        <a class="nav-link active" [routerLink]="['/Admin']">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Assets
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" [routerLink]="['/Product']">Product</a>            
          <a class="dropdown-item" [routerLink]="['/Plot']">Plot</a>          
          <a class="dropdown-item" [routerLink]="['/Farm']">Farm</a>          
          <a class="dropdown-item" [routerLink]="['/Seed']">Seed</a>          
          <a class="dropdown-item" [routerLink]="['/Fertilizer']">Fertilizer</a>          
          <a class="dropdown-item" [routerLink]="['/Pesticide']">Pesticide</a>
        </div>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Participants
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" [routerLink]="['/Stakeholder']">Stakeholder</a>
        </div>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Operations
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" [routerLink]="['/TransferPackage']">Trasnfer a Product</a>            
          <a class="dropdown-item" [routerLink]="['/ScanProduct']">Scan a Product</a>  
        </div>
      </li>

    </ul>

    <!--FARMER NAVBAR-->
    <ul *ngIf="userType == 'FARMER'" class="navbar-nav mr-auto">
        <li class="nav-item ">
          <a class="nav-link active" [routerLink]="['/FarmerHome']">Home <span class="sr-only">(current)</span></a>
        </li>
        
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Resources
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">          
            <a class="dropdown-item" [routerLink]="['/Plot']">Plots</a>          
            <a class="dropdown-item" [routerLink]="['/Farm']">Farms</a>   
          </div>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Assets
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" [routerLink]="['/Product']">Products</a>        
            <a class="dropdown-item" [routerLink]="['/Seed']">Seeds</a>          
            <a class="dropdown-item" [routerLink]="['/Fertilizer']">Fertilizers</a>          
            <a class="dropdown-item" [routerLink]="['/Pesticide']">Pesticides</a>
          </div>
        </li>
    
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Activities
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" [routerLink]="['/Seeding']">Seeding</a>            
            <a class="dropdown-item" [routerLink]="['/Watering']">Watering</a>          
            <a class="dropdown-item" [routerLink]="['/Manuring']">Manuring</a>       
            <a class="dropdown-item" [routerLink]="['/Harvesting']">Harvesting</a>   
          </div>
        </li>

        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Operations
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" [routerLink]="['/TransferPackage']">Trasnfer a Product</a>            
              <a class="dropdown-item" [routerLink]="['/ScanProduct']">Scan a Product</a>  
            </div>
          </li>
      </ul>
  </div>

  <div class="icon-bar">
    <a class="active" href="#"><i class="fa fa-home"></i></a> 
    <a href="#"><i class="fa fa-search"></i></a> 
    <a href="#"><i class="fa fa-envelope"></i></a> 
    <a href="#"><i class="fa fa-globe"></i></a>
    <a href="#"><i class="fa fa-trash"></i></a> 
  </div>
    
  

  <span class="navbar-text">
    
    Welcome <span class="badge badge-secondary">{{user}}</span>
  </span>
  <form (ngSubmit)="logOut()" class="form-inline">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit"><span>Log out</span></button>
  </form>
</nav>

