<nav class="navbar navbar-expand-lg navbar-light bg-light" style="width:100% !important">  
  
    <div *ngIf="userType == 'ADMIN'" >
        <a class="navbar-brand" [routerLink]="['/Admin']">
        <div class="row">            
              <img src="../../assets/scarecrow.png" style="height:40px; margin-top: -10px"><span>AgriBlock</span>
        </div></a>        
    </div>

    <div *ngIf="userType == 'FARMER'" >
        <a class="navbar-brand" [routerLink]="['/FarmerHome']">
        <div class="row">            
              <img src="../../assets/scarecrow.png" style="height:40px; margin-top: -10px"><span>AgriBlock</span>
        </div></a>        
    </div>
  
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">

    <!--ADMIN NAVBAR-->
    <ul *ngIf="userType == 'ADMIN'" class="navbar-nav mr-auto">
      <li class="nav-item ">
        <a id="homeLink" class="nav-link active" [routerLink]="['/Admin']"><i class="fa fa-home"></i>Home</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-gem"></i>Assets
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" [routerLink]="['/Product']">Product</a>            
          <a class="dropdown-item" [routerLink]="['/Plot']">Plot</a>          
          <a class="dropdown-item" [routerLink]="['/Farm']">Farm</a>          
          <a class="dropdown-item" [routerLink]="['/Seed']">Seed</a>          
          <a class="dropdown-item" [routerLink]="['/Fertilizer']">Fertilizer</a>          
          <a class="dropdown-item" [routerLink]="['/Pesticide']">Pesticide</a>
        </div>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fas fa-user-friends"></i>Participants
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" [routerLink]="['/Stakeholder', 'SEED']">Seed Providers</a>          
            <a class="dropdown-item" [routerLink]="['/Stakeholder', 'FERTILIZER']">Fertilizer Providers</a>
            <a class="dropdown-item" [routerLink]="['/Stakeholder', 'PESTICIDE']">Pesticide Providers</a>
            <a class="dropdown-item" [routerLink]="['/Stakeholder', 'FARMER']">Farmers</a>        
            <a class="dropdown-item" [routerLink]="['/Stakeholder', 'PACKAGING']">Packaging Facilities</a>             
            <a class="dropdown-item" [routerLink]="['/Stakeholder', 'DISTRIBUTION']">Distributors</a>           
            <a class="dropdown-item" [routerLink]="['/Stakeholder', 'CERTIFICATION']">Certification Bodies</a>          
            <a class="dropdown-item" [routerLink]="['/Stakeholder', 'WAREHOUSE']">Warehouses</a>          
            <a class="dropdown-item" [routerLink]="['/Stakeholder', 'RETAIL']">Retailors</a>              
        </div>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-dolly"></i>Activities
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" [routerLink]="['/Seeding']">Seeding</a>            
          <a class="dropdown-item" [routerLink]="['/Watering']">Watering</a>          
          <a class="dropdown-item" [routerLink]="['/Manuring']">Manuring</a>       
          <a class="dropdown-item" [routerLink]="['/Harvesting']">Harvesting</a>   
        </div>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-cogs"></i>Operations
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" [routerLink]="['/TransferPackage']">Trasnfer a Product</a>            
          <a class="dropdown-item" [routerLink]="['/ScanProduct']">Scan a Product</a>  
        </div>
      </li>

    </ul>

    <!--FARMER NAVBAR-->
    <ul *ngIf="userType == 'FARMER'" class="navbar-nav mr-auto">
        <li class="nav-item ">
          <a id="homeLink" class="nav-link active" [routerLink]="['/FarmerHome']"><i class="fa fa-home"></i>Home</a>
        </li>
        
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="fas fa-boxes"></i>Resources
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">          
            <a class="dropdown-item" [routerLink]="['/Plot']">Plots</a>          
            <a class="dropdown-item" [routerLink]="['/Farm']">Farms</a>   
          </div>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="fas fa-gem"></i>Assets
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" [routerLink]="['/Product']">Products</a>        
            <a class="dropdown-item" [routerLink]="['/Seed']">Seeds</a>          
            <a class="dropdown-item" [routerLink]="['/Fertilizer']">Fertilizers</a>          
            <a class="dropdown-item" [routerLink]="['/Pesticide']">Pesticides</a>
          </div>
        </li>
    
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="fas fa-dolly"></i>Activities
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" [routerLink]="['/Seeding']">Seeding</a>            
            <a class="dropdown-item" [routerLink]="['/Watering']">Watering</a>          
            <a class="dropdown-item" [routerLink]="['/Manuring']">Manuring</a>       
            <a class="dropdown-item" [routerLink]="['/Harvesting']">Harvesting</a>   
          </div>
        </li>

        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-cogs"></i>Operations
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" [routerLink]="['/TransferPackage']">Trasnfer a Product</a>            
              <a class="dropdown-item" [routerLink]="['/ScanProduct']">Scan a Product</a>  
            </div>
          </li>
      </ul>

    <!--Others NAVBAR-->
    <ul *ngIf="userType != 'FARMER' && userType != 'ADMIN' && userType != 'CERTIFICATION'" class="navbar-nav mr-auto">
      <li class="nav-item ">
        <a id="homeLink" class="nav-link active" [routerLink]="['/DivideHome']"><i class="fa fa-home"></i>Home</a>
      </li>
      
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-gem"></i>Assets
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" [routerLink]="['/Product']">Products</a>        
          <a class="dropdown-item" [routerLink]="['/Seed']">Seeds</a>          
          <a class="dropdown-item" [routerLink]="['/Fertilizer']">Fertilizers</a>          
          <a class="dropdown-item" [routerLink]="['/Pesticide']">Pesticides</a>
        </div>
      </li>
  
      <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="fas fa-cogs"></i>Operations
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" [routerLink]="['/TransferPackage']">Trasnfer a Product</a>            
            <a class="dropdown-item" [routerLink]="['/ScanProduct']">Scan a Product</a>  
          </div>
        </li>
    </ul>
  </div>

  <div class="icon-bar row" style="margin-right: 50px">
    <a [routerLink]="['/ScanProduct']" style="vertical-align:top;" title="Get information of a product via scanning the QR"><div style="text-align: center"><i class="fa fa-qrcode fa-2x" ></i></div><div><span>Scan a Product</span></div></a>
    &nbsp;&nbsp;&nbsp;&nbsp;
    <a [routerLink]="['/TransferPackage']" href="#" style="vertical-align:top;" title="Invoke product transfer transactions"><div style="text-align: center"><i class="fas fa-exchange-alt fa-2x"></i></div><div><span>Transfer a Product</span></div></a> 
  </div>
    
  

  <span class="navbar-text">
    
    Welcome <span class="badge badge-secondary">{{user}}</span>
  </span>
  <form (ngSubmit)="logOut()" class="form-inline">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit"><span>Log out</span></button>
  </form>
</nav>

