<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <p class="network-name">backend@0.0.6.bna</p>
      <p class="navbar-brand">AgriBlockchainAngularApp</p>
    </div>
    <ul class="nav navbar-nav">
      <li class="dropdown active">
          <a class="dropdown-toggle" data-toggle="dropdown">Assets</a>
          <ul class="dropdown-menu scrollable-menu">
            
            <li><a [routerLink]="['/Product']">Product</a></li>
            
            <li><a [routerLink]="['/Plot']">Plot</a></li>
            
            <li><a [routerLink]="['/Farm']">Farm</a></li>
            
            <li><a [routerLink]="['/Seed']">Seed</a></li>
            
            <li><a [routerLink]="['/Fertilizer']">Fertilizer</a></li>
            
            <li><a [routerLink]="['/Pesticide']">Pesticide</a></li>
            
          </ul>
      </li>
      <li class="dropdown active">
        <a class="dropdown-toggle" data-toggle="dropdown">Participants</a>
        <ul class="dropdown-menu scrollable-menu">
          
          <li><a [routerLink]="['/Farmer']">Farmer</a></li>
          
          <li><a [routerLink]="['/Distribution']">Distribution</a></li>
          
          <li><a [routerLink]="['/Packaging']">Packaging</a></li>
          
          <li><a [routerLink]="['/Warehouse']">Warehouse</a></li>
          
          <li><a [routerLink]="['/Retail']">Retail</a></li>
          
          <li><a [routerLink]="['/SeedProvider']">SeedProvider</a></li>
          
          <li><a [routerLink]="['/FertilizerProvider']">FertilizerProvider</a></li>
          
          <li><a [routerLink]="['/PesticideProvider']">PesticideProvider</a></li>
          
          <li><a [routerLink]="['/CertificationBody']">CertificationBody</a></li>
          
        </ul>
    </li>
    <li class="dropdown active">
      <a class="dropdown-toggle" data-toggle="dropdown">Transactions</a>
      <ul class="dropdown-menu scrollable-menu">
        
        <li><a [routerLink]="['/TransferPackage']">TransferPackage</a></li>
        
        <li><a [routerLink]="['/DivideAsset']">DivideAsset</a></li>
        
        <li><a [routerLink]="['/MergeAsset']">MergeAsset</a></li>
        
        <li><a [routerLink]="['/PHReading']">PHReading</a></li>
        
        <li><a [routerLink]="['/Activity']">Activity</a></li>
        
      </ul>
  </li>
    </ul>
  </div>
</nav>
