<div class="modal fade" id="addrecord" tabindex="-1" role="dialog" aria-labelledby="addAssetModalLabel">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
          <h4 class="modal-title" id="addParticipantModalLabel">Add Record</h4>
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
     
      </div>
      <div class="modal-body">
          <!-- Steps starts here -->
      <div class="requestwizard">
        <div class="requestwizard-row setup-panel">
          <table id="tbl1" style="width: 100%">
            <tr>
                <td>
                    <div class="requestwizard-step">
                        <a id="add1" href="#add-a" type="button" class="btn btn-default btn-circle" disabled="disabled">1</a>
                        <p>Add Record</p>
                    </div>
                </td>
            </tr>
          </table>
          </div>
      </div>
      <hr>
  
  <form [formGroup]="recordForm">
      <div class="row setup-content" id="add-a">
          <div class="col-xs-12">
              <div class="col-md-12">
                <table id="detTbl">
                  <tr>
                    <td style="width: 150px">
                            <label><b>Farm</b></label>                        

                    </td>
                    <td>  
                        <select class="form-control input farmerSelect" formControlName="farmId">
                              <option value = "">- Select -</option>
                              <option *ngFor="let item of availFarms" value = {{item.farmId}}>{{ item.farmId +" - "+item.FarmLocation }}</option>
                          </select>
                    </td>
                </tr>

                <tr>
                  <td style="width: 150px">
                          <label><b>Plot</b></label>                        

                  </td>
                  <td>  
                      <select class="form-control input farmerSelect" formControlName="plotId">
                            <option value = "">- Select -</option>
                            <option *ngFor="let item of availPlots" value = {{item.plotId}}>{{"#"+item.plotId }}</option>
                        </select>
                  </td>
              </tr>
                  <tr>
                      <td>
                          <label for="inspectiondate"><b>Added Date</b></label>
                      </td>
                    <td style="width: 150px">
                
                      <input formControlName="recorddate" class="form-control" bsDatepicker [bsConfig]="bsConfig" >                     

                    </td>
                    
                  </tr>
                  <tr>
                      <td style="width: 150px">
                          <label><b>Added Time</b></label>                        
      
                      </td>
                      <td>
                          <timepicker formControlName="recordtime" [showMeridian]=false></timepicker>
                      </td>
                      </tr>
                  <tr>
                      <td>
                         <label for="records"><b>Record</b></label>
                      </td>
                      <td>
                          <input formControlName="records" class="form-control">   
                          
                      </td>
                  </tr>
                </table>
                <table style="float : right;">
                      <tr>
                        <td style="padding : 5px;">
                          <button type="button" class="btn btn-default pull-right" data-dismiss="modal">Cancel</button>
                        </td>
                        <td style="padding : 5px;">
                              <button [promiseBtn]="toggleLoad"  (click)="addRecord(recordForm)" type="submit" class="btn btn-success pull-right" ><div class="word">Submit</div><div class="loader" style="display:none"></div></button>
                        </td>
                      </tr>
                    </table>
                
              </div>
          </div>
      </div>
     
      

     
  </form>


<!-- Form ends here -->
    </div>
  </div>
</div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-9 row">
        <img *ngIf = "allAssets != ''" src="../../assets/file.png" style="width: 45px; height: 45px">&nbsp;&nbsp;&nbsp;
        <h1 class="asset-title" id='assetName'>Manage Diary</h1>
    </div>
    <div class="col-md-3">
      <button  style="width: auto !important" (click)="resetForm()" type="button" class="btn btn-primary" data-toggle="modal" data-target="#addrecord">
          <span style="font-size: 14px;font-family: inherit;border-right:1px solid rgba(255,255,255,0.5);padding-right:0.6em;margin-right:0.5em;vertical-align:middle;">
              <svg class="plus-svg" xmlns="http://www.w3.org/2000/svg" width="10" height="10" viewBox="0 0 10 10">
                <path fill-rule="evenodd" d="M5.5,4.5 L9.5,4.5 L10,4.5 L10,5.5 L9.5,5.5 L5.5,5.5 L5.5,9.5 L5.5,10 L4.5,10 L4.5,9.5 L4.5,5.5 L0.5,5.5 L0,5.5 L0,4.5 L0.5,4.5 L4.5,4.5 L4.5,0.5 L4.5,0 L5.5,0 L5.5,0.5 L5.5,4.5 Z"/>
              </svg>
          </span>
        Add Record
      </button>
    </div>
  </div>
  <br>
  <div class="row">
    <div *ngIf = "allRecords != ''" class="col-md-12">
      <table  class="table table-responsive" style="margin: auto; width: 900px;">
        <thead class="thead">
          <tr class="thead-cols">

              <th class="info" style="min-width: 150px">Farm Id</th>
            
                <th class="info" style="min-width: 150px">Date</th>
            
                <th class="info" style="min-width: 250px">Time</th>
            
                <th class="info" style="min-width: 250px">Record</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let asset of allRecords">

                <td class="asset-properties">{{asset.farm.split('#')[1]}}</td>

                <td class="asset-properties">{{asset.date.split('T')[0]}}</td>
            
                <td class="asset-properties">{{asset.time.split('T')[1]}}</td>
            
                <td class="asset-properties">{{asset.record}}</td>
          </tr>
        </tbody>
      </table>
      <br><br>
    </div>

    <div *ngIf = "allAssets == ''" class="col-md-12">
        <img src="../../assets/008-planting.png" style="display: block; margin-left: auto; margin-right: auto; margin-top: 50px">
        <div class="alert alert-warning" role="alert" style="text-align: center; margin-top: 30px; padding: 5px;"><h4>No farms available!</h4></div>
    </div>
  </div>
</div>
<br><br>