<div class="container">
  <div class="jumbotron">
    <h2 class="display-5">Resources</h2>

    <div class="row">
        <div class="card" style="width: 18rem;">
            <img src="../../assets/008-planting.png">
            <div class="card-body">
              <h4 class="card-title">Farms</h4>
              <a [routerLink]="['/Farm']" class="btn btn-primary">Manage</a>
            </div>
          </div>
          
        <div class="card" style="width: 18rem;">
            <img src="../../assets/007-sprout.png">
            <div class="card-body">
              <h4 class="card-title">Plots</h4>
              <a [routerLink]="['/Plot']" class="btn btn-primary">Manage</a>
            </div>
          </div>          
    </div>   
  </div>

  <div class="jumbotron">
    <h2 class="display-5">Assets</h2>

    <div class="row">

    <div class="card" style="width: 18rem;">
        <img src="../../assets/005-vegetables.png">
        <div class="card-body">
          <h4 class="card-title">Products</h4>
          <a [routerLink]="['/Product']" class="btn btn-primary">Manage</a>
        </div>
      </div>

      <div class="card" style="width: 18rem;">
        <img src="../../assets/006-seed-bag.png">
        <div class="card-body">
          <h4 class="card-title">Seeds</h4>
          <a [routerLink]="['/Seed']" class="btn btn-primary">Manage</a>
        </div>
      </div>

      <div class="card" style="width: 18rem;">
        <img src="../../assets/009-plant.png">
          <div class="card-body">
            <h4 class="card-title">Fertilizers</h4>
            <a [routerLink]="['/Fertilizer']" class="btn btn-primary">Manage</a>
          </div>
        </div>

        <div class="card" style="width: 18rem;">
          <img src="../../assets/004-seeds-1.png">
          <div class="card-body">
            <h4 class="card-title">Pesticides</h4>
            <a [routerLink]="['/Pesticide']" class="btn btn-primary">Manage</a>
          </div>
        </div>
    </div>
  </div>

  <div class="jumbotron">
    <h2 class="display-5">Activities</h2>
    
    <div class="row">

        <div class="card" style="width: 18rem;">
          <img src="../../assets/002-seeds.png">
            <div class="card-body">
              <h4 class="card-title">Seeding</h4>
              <a [routerLink]="['/Seeding']" class="btn btn-primary">Manage</a>
            </div>
          </div>

        <div class="card" style="width: 18rem;">
          <img src="../../assets/001-hose.png">
            <div class="card-body">
              <h4 class="card-title">Watering</h4>
              <a [routerLink]="['/Watering']" class="btn btn-primary">Manage</a>
            </div>
          </div>
    
          <div class="card" style="width: 18rem;">
            <img src="../../assets/003-sprinkler.png">
            <div class="card-body">
              <h4 class="card-title">Manuring</h4>
              <a [routerLink]="['/Manuring']" class="btn btn-primary">Manage</a>
            </div>
          </div>

          <div class="card" style="width: 18rem;">
            <img src="../../assets/growth.png">
            <div class="card-body">
              <h4 class="card-title">Growth Progress Recording</h4>
              <a [routerLink]="['/PlantGrowth']" class="btn btn-primary">Manage</a>
            </div>
          </div>
        
            <div class="card" style="width: 18rem;">
              <img src="../../assets/010-tractor.png">
              <div class="card-body">
                <h4 class="card-title">Harvesting</h4>
                <a [routerLink]="['/Harvesting']" class="btn btn-primary">Manage</a>
              </div>
            </div>
            <div class="card" style="width: 18rem;">
              <img src="../../assets/file.png">
              <div class="card-body">
                <h4 class="card-title">Diary Keeping</h4>
                <a [routerLink]="['/Harvesting']" class="btn btn-primary">Manage</a>
              </div>
            </div>
        </div>
    
    
  </div> 
  
</div>


