.form-control {
    color: #393939;
    height: 42px;
    border: 1px solid #ffffff;
    box-shadow: inset 0 0px 0px rgba(0,0,0,.075);
    border-radius: 4px;
    resize: none;
}


/*  bhoechie tab */
div.bhoechie-tab-container{
    z-index: 10;
    background-color: #ffffff;
    padding: 0 !important;
    border-radius: 4px;
    -moz-border-radius: 4px;
    border:1px solid #ddd;
    margin-top: 20px;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
    -moz-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    background-clip: padding-box;
    opacity: 0.97;
    filter: alpha(opacity=97);
  }
  div.bhoechie-tab-menu{
    padding-right: 0;
    padding-left: 0;
    padding-bottom: 0;
  }
  div.bhoechie-tab-menu div.list-group{
    margin-bottom: 0;
  }
  div.bhoechie-tab-menu div.list-group>a{
    margin-bottom: 0;
  }
  div.bhoechie-tab-menu div.list-group>a .glyphicon,
  div.bhoechie-tab-menu div.list-group>a .fa {
    color: #a8ad5e;
  }
  div.bhoechie-tab-menu div.list-group>a:first-child{
    border-top-right-radius: 0;
    -moz-border-top-right-radius: 0;
  }
  div.bhoechie-tab-menu div.list-group>a:last-child{
    border-bottom-right-radius: 0;
    -moz-border-bottom-right-radius: 0;
  }
  div.bhoechie-tab-menu div.list-group>a.active,
  div.bhoechie-tab-menu div.list-group>a.active .glyphicon,
  div.bhoechie-tab-menu div.list-group>a.active .fa{
    background-color: #a8ad5e;
    background-image: #a8ad5e;
    color: #000;
  }
  div.bhoechie-tab-menu div.list-group>a.active:after{
    content: '';
    position: absolute;
    left: 100%;
    top: 50%;
    margin-top: -13px;
    border-left: 0;
    border-bottom: 13px solid transparent;
    border-top: 13px solid transparent;
    border-left: 10px solid #a8ad5e;
  }
  
  div.bhoechie-tab-content{
    background-color: #ffffff;
    /* border: 1px solid #eeeeee; */
    padding-left: 20px;
    padding-top: 10px;
  }
  
  div.bhoechie-tab div.bhoechie-tab-content:not(.active){
    display: none;
  }
  .list-group-item.active{
  
    border-color: #a8ad5e !important;
}
.btn-primary:hover {
    color: #fff;
    background-color: #d4d4d4 !important;
    border-color: #d4d4d4 !important;
}
.btn-primary {
    border-color: #d4d4d4 !important;
}
.newbtn{
    text-align: center;
    padding: 12px;
    background-color: #f9f9f9;
    cursor: pointer;
    box-shadow: 0px 0px 1px 1px #ddd;
}
.newbtn:hover{
    background-color: #ddd !important;
}
.color {
    background-color: #ffdddd;
  }
  .iconcolor {
    color:#e08888;
  }
  @import url(https://fonts.googleapis.com/css?family=Lato:400,900,700,300); 
  .heading4{font-size:18px;font-weight:400;font-family:'Lato', sans-serif;color:#111111;margin:0px 0px 5px 0px;} 
  .heading1{font-size:30px;line-height:20px;font-family:'Lato', sans-serif;text-transform:uppercase;color:#1b2834;font-weight:900;} 
  .content-quality{float:left;width:193px;} 
  .content-quality p{margin-left:10px;font-family:'Open Sans', sans-serif;font-size:14px;font-weight:600;line-height:17px;} 
  .content-quality p span{display:block;} 
  .tabtop li a{font-family:'Lato', sans-serif;font-weight:700;color:#1b2834;border-radius:0px;margin-right:22.008px;border:1px solid #ebebeb !important;} 
  .tabtop .active a:before{content:"♦";position:absolute;top:15px;left:82px;color:#a8ad5e;font-size:30px;} 
  .tabtop li a:hover{color:#a8ad5e !important;text-decoration:none;} 
  .tabtop .active a:hover{color:#fff !important;} 
  .tabtop .active a{background-color:#a8ad5e !important;color:#FFF !important;} 
  .margin-tops{margin-top:30px;} 
  .tabtop li a:last-child{padding:10px 22px;} 
  .thbada{padding:10px 28px !important;} 
  section p{font-family:'Lato', sans-serif;} 
  .margin-tops4{margin-top:20px;} 
  .tabsetting{padding-top:6px;} 
  .services{background-color:#d4d4d4;min-height:710px;padding:65px 0 27px 0;} 
  .services a:hover{color:#000;} 
  .services h1{margin-top:0px !important;} 