<div class="modal fade" id="addAssetModal" tabindex="-1" role="dialog" aria-labelledby="addAssetModalLabel">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title" id="addParticipantModalLabel">Add New Plots</h4>
          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
          
        </div>
        <div class="modal-body">
            <!-- Steps starts here -->
        <div class="requestwizard">
          <div class="requestwizard-row setup-panel">
            <table id="tbl1" style="width: 100%">
              <tr>
                  <td>
                      <div class="requestwizard-step">
                          <a id="add1" href="#add-1" type="button" class="btn btn-default btn-circle" disabled="disabled">1</a>
                          <p>Basic Information</p>
                      </div>
                  </td>
                 
        
              </tr>
            </table>
            </div>
        </div>
        <hr>
    
    <form [formGroup]="myForm">
        <div class="row setup-content" id="add-1">
            <div class="col-xs-12">
                <div class="col-md-12">
                  <table id="detTbl">
                    <tr>
                      <td style="width: 150px">
                              <label ><b>Plot ID</b></label>                        
  
                      </td>
                      <td>
                          <input formControlName="plotId" class="form-control">  
                        
                      </td>
                    </tr>
  
                    <tr>
                        <td style="width: 150px">
                                <label><b>Cultivation Start Date</b></label>                        
    
                        </td>
                        <td>
                            <input formControlName="cultivationStartDate" class="form-control" bsDatepicker [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD' }">  
                                  
                        </td>
                      </tr>
  
                      <tr>
                          <td style="width: 150px">
                                  <label><b>Extent</b></label>                        
      
                          </td>
                          <td>  
                            <div class="input-group mb-3">
                              <input style="width: 94%" formControlName="extent" type="text" class="form-control" aria-label="Recipient's username" aria-describedby="basic-addon2">
                              <div class="input-group-append" style="height: 43px !important;">
                                <span class="input-group-text" id="basic-addon2"><h5>m<sup style="color : #000 !important">2</sup></h5></span>
                              </div>
                            </div>
                          </td>
                      </tr>

                      <tr>
                        <td style="width: 150px">
                                <label><b>Farm</b></label>                        
    
                        </td>
                        <td>  
                            <select class="form-control input farmerSelect" formControlName="farm">
                                  <option value = "">- Select -</option>
                                  <option *ngFor="let item of availFarms" value = {{item.farmId}}>{{ item.farmId +" - "+item.FarmLocation }}</option>
                              </select>
                        </td>
                    </tr>
  
                      <tr>
                          <td style="width: 150px; border-top: 1px solid #bababc" colspan="2">
                                  <label for="farmId"><b>Closer Plots</b></label>                        
      
                          </td>
                      </tr>       
  
                      <tr>
                        <td colspan="2">
                            <div class="col-md-12">  
                                <table>
                                    <tr>
                                        <td><label>North</label></td>
                                        <td><input formControlName="closerPlotsN" class="form-control">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><label>South</label></td>
                                        <td><input formControlName="closerPlotsS" class="form-control" ></td>
                                    </tr>
                                    <tr>
                                        <td><label>East</label></td>
                                        <td><input formControlName="closerPlotsE" class="form-control" ></td>
          
    
                                    </tr>
                                    <tr>
    
                                        <td><label>West</label></td>
                                        <td><input formControlName="closerPlotsW" class="form-control"></td>
                                    </tr>
                                
                                  </table>
                            </div>
  
                        </td>
                      </tr>
  
                      
                  </table>

                  <table style="float : right;">
                      <tr>
                        <td style="padding : 5px;">
                          <button type="button" class="btn btn-default pull-right" data-dismiss="modal">Cancel</button>
                        </td>
                        <td style="padding : 5px;">
                          <button [promiseBtn]="toggleLoad" (click)="addAsset(myForm)" type="submit" class="btn btn-success pull-right" ><div class="word">Submit</div><div class="loader" style="display:none"></div></button>
                        </td>
                      </tr>
                    </table>
                  </div>
            </div>
        </div>       
    </form>
  
  
  <!-- Form ends here -->
      </div>
    </div>
  </div>
  </div>

  <div class="modal fade" id="updateAssetModal" tabindex="-1" role="dialog" aria-labelledby="updateAssetModalLabel">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title" id="addParticipantModalLabel">Update Plot Details</h4>
          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
          
        </div>
        <div class="modal-body">
            <!-- Steps starts here -->
        <div class="requestwizard">
          <div class="requestwizard-row setup-panel">
            <table id="tbl1" style="width: 100%">
              <tr>
                  <td>
                      <div class="requestwizard-step">
                          <a id="update1" href="#update-1" type="button" class="btn btn-default btn-circle" disabled="disabled">1</a>
                          <p>Basic Information</p>
                      </div>
                  </td>               
        
              </tr>
            </table>
            </div>
        </div>
        <hr>
    
    <form [formGroup]="myForm">
        <div class="row setup-content" id="update-1">
            <div class="col-xs-12">
                <div class="col-md-12">
                  <table id="detTbl">
                    <tr>
                      <td style="width: 150px">
                              <label ><b>Plot ID</b></label>                        
  
                      </td>
                      <td>
                          <input formControlName="plotId" class="form-control" disabled>  
                        
                      </td>
                    </tr>
  
                    <tr>
                        <td style="width: 150px">
                                <label><b>Cultivation Start Date</b></label>                        
    
                        </td>
                        <td>
                            <input formControlName="cultivationStartDate" class="form-control" bsDatepicker [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD' }">  
                                  
                        </td>
                      </tr>
  
                      <tr>
                          <td style="width: 150px">
                                  <label><b>Extent</b></label>                        
      
                          </td>
                          <td>  
                            <div class="input-group mb-3">
                              <input style="width: 94%" formControlName="extent" type="text" class="form-control" aria-label="Recipient's username" aria-describedby="basic-addon2">
                              <div class="input-group-append" style="height: 43px !important;">
                                <span class="input-group-text" id="basic-addon2"><h5>m<sup style="color : #000 !important">2</sup></h5></span>
                              </div>
                            </div>
                          </td>
                      </tr>

                      <tr>
                        <td style="width: 150px">
                                <label><b>Farm</b></label>                        
    
                        </td>
                        <td>  
                            <select class="form-control input farmerSelect" formControlName="farm">
                                  <option value = "">- Select -</option>
                                  <option *ngFor="let item of availFarms" value = {{item.farmId}}>{{ item.farmId +" - "+item.FarmLocation }}</option>
                              </select>
                        </td>
                    </tr>
  
                      <tr>
                          <td style="width: 150px; border-top: 1px solid #bababc" colspan="2">
                                  <label for="farmId"><b>Closer Plots</b></label>                        
      
                          </td>
                      </tr>       
  
                      <tr>
                        <td colspan="2">
                            <div class="col-md-12">  
                                <table>
                                    <tr>
                                        <td><label>North</label></td>
                                        <td><input formControlName="closerPlotsN" class="form-control">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><label>South</label></td>
                                        <td><input formControlName="closerPlotsS" class="form-control" ></td>
                                    </tr>
                                    <tr>
                                        <td><label>East</label></td>
                                        <td><input formControlName="closerPlotsE" class="form-control" ></td>
          
    
                                    </tr>
                                    <tr>
    
                                        <td><label>West</label></td>
                                        <td><input formControlName="closerPlotsW" class="form-control"></td>
                                    </tr>
                                
                                  </table>
                            </div>
  
                        </td>
                      </tr>
  
                      
                  </table>
                  
                  <table style="float : right;">
                    <tr>
                      <td style="padding : 5px;">
                        <button type="button" class="btn btn-default pull-right" data-dismiss="modal">Cancel</button>
                      </td>
                      <td style="padding : 5px;">
                        <button [promiseBtn]="toggleLoad" (click)="updateAsset(myForm)" type="submit" class="btn btn-success pull-right" ><div class="word">Update</div><div class="loader" style="display:none"></div></button>
                      </td>
                    </tr>
                  </table>
              </div>
            </div>
        </div>
        <div class="row setup-content" id="update-2">
            <div class="col-xs-12">
                <div class="col-md-12">
                  </div>
            </div>
        </div>        
    </form>
  
  
  <!-- Form ends here -->
      </div>
    </div>
  </div>
  </div>


  <div class="modal fade" id="viewAssetModal" tabindex="-1" role="dialog" aria-labelledby="viewAssetModalLabel">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title" id="addParticipantModalLabel">View Plot Details</h4>
          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
          
        </div>
        <div class="modal-body">
            <!-- Steps starts here -->
        <div class="requestwizard">
          <div class="requestwizard-row setup-panel">
            <table id="tbl1" style="width: 100%">
              <tr>
                  <td>
                      <div class="requestwizard-step">
                          <a id="view1" href="#view-1" type="button" class="btn btn-default btn-circle" disabled="disabled">1</a>
                          <p>Basic Information</p>
                      </div>
                  </td>
  
               <!--  <td>
                    <div class="requestwizard-step">
                        <a href="#view-2" type="button" class="btn btn-default btn-circle" disabled="disabled">2</a>
                        <p>Historian Details</p>
                    </div>
                </td>   -->  
                
                <td>
                  <div class="requestwizard-step">
                      <a href="#view-2" type="button" class="btn btn-default btn-circle" disabled="disabled">2</a>
                      <p>Growth Progress</p>
                  </div>
                </td> 
        
              </tr>
            </table>
            </div>
        </div>
        <hr>
    
    <form [formGroup]="myForm">
        <div class="row setup-content" id="view-1">
            <div class="col-xs-12">
                <div class="col-md-12">
                  <table id="detTbl">
                    <tr>
                      <td style="width: 150px">
                              <label ><b>Plot ID</b></label>                        
  
                      </td>
                      <td>
                          <input formControlName="plotId" class="form-control" disabled>  
                        
                      </td>
                    </tr>
  
                    <tr>
                        <td style="width: 150px">
                                <label><b>Cultivation Start Date</b></label>                        
    
                        </td>
                        <td>
                            <input formControlName="cultivationStartDate" class="form-control" disabled>      
                        </td>
                      </tr>
  
                      <tr>
                          <td style="width: 150px">
                                  <label><b>Extent</b></label>                        
      
                          </td>
                          <td>  
                            <div class="input-group mb-3">
                              <input style="width: 94%" formControlName="extent" type="text" class="form-control" aria-label="Recipient's username" aria-describedby="basic-addon2" disabled>
                              <div class="input-group-append" style="height: 43px !important;">
                                <span class="input-group-text" id="basic-addon2"><h5>m<sup style="color : #000 !important">2</sup></h5></span>
                              </div>
                            </div>
                          </td>
                      </tr>

                      <tr>
                        <td style="width: 150px">
                                <label><b>Farm</b></label>                        
    
                        </td>
                        <td>  
                            <input formControlName="farm" class="form-control"  disabled>
                        </td>
                    </tr>
  
                      <tr>
                          <td style="width: 150px; border-top: 1px solid #bababc" colspan="2">
                                  <label for="farmId"><b>Closer Plots</b></label>                        
      
                          </td>
                      </tr>       
  
                      <tr>
                        <td colspan="2">
                            <div class="col-md-12">  
                                <table>
                                    <tr>
                                        <td><label>North</label></td>
                                        <td><input formControlName="closerPlotsN" class="form-control" disabled>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><label>South</label></td>
                                        <td><input formControlName="closerPlotsS" class="form-control" disabled></td>
                                    </tr>
                                    <tr>
                                        <td><label>East</label></td>
                                        <td><input formControlName="closerPlotsE" class="form-control" disabled></td>
          
    
                                    </tr>
                                    <tr>
    
                                        <td><label>West</label></td>
                                        <td><input formControlName="closerPlotsW" class="form-control" disabled></td>
                                    </tr>

                                    
                                
                                  </table>
                            </div>
  
                        </td>
                      </tr>
  
                      <tr>
                          <td style="width: 150px; border-top: 1px solid #bababc" colspan="2">
                                  <label for="farmId"><b>Comments</b></label>                                          
                          </td>
                      </tr>
                      <tr>
                        <td colspan="2">
                            <ol>
                                <li *ngFor="let comment of certiicationComment" >{{comment}}</li>   
                              </ol> 
                        </td>
                      </tr>
                  </table>
  
                  <button class="btn btn-primary nextBtn btn-lg pull-right" type="button" >Next</button>             
                </div>
            </div>
        </div>
        <div class="row setup-content" id="view-2">
          <div class="col-xs-12">
            <div class="col-md-12">
                <table style="margin:auto">
                  <tr>
                      <td style="padding:3px">
                          <div *ngIf="seededArr.hasOwnProperty('type')" style="width:200px; height:230px; border-radius:25%; background-color:#f9f1a2; text-align: center">
                              <img style="width:50px; margin-top: 10px" src="../../assets/002-seeds.png">
                              <h4>Seeded</h4>
                              <h5><span style="font-size:24px; font-weight:bold">{{seededArr.qty}}KG</span> of</h5>
                              <h5><span style="font-size:24px; font-weight:bold">{{seededArr.type}}</span></h5>
                              <h5>on {{seededArr.date}}</h5>
                          </div>
                          <div *ngIf="!seededArr.hasOwnProperty('type')" style="width:200px; height:230px; border-radius:25%; background-color:#f9f1a2; text-align: center">
                            <img style="width:50px; margin-top: 10px" src="../../assets/002-seeds.png">
                            <h4>Seeded</h4>
                            <h5>No Data Available!</h5>
                        </div>
                      </td>
                      <td style="padding:3px">
                          <i class="fas fa-angle-double-right fa-3x"></i>
                      </td>
                      <td style="padding:3px">
                            <div *ngIf="growCountArr.length > 0" style="width:200px; height:230px; border-radius:25%; background-color:#9ff9aa; text-align: center">
                                <img style="width:50px; margin-top: 10px" src="../../assets/001-plant.png">
                                <h4>Sprouted</h4>
                                <h5><span style="font-size:36px; font-weight:bold">{{growCountArr[(growCountArr.length-1)].count}}</span></h5>
                                <h5>total plants</h5>
                                <h5>as recorded on</h5>
                                <h5>{{growCountArr[(growCountArr.length-1)].addedDate.split("T")[0] + " " + growCountArr[(growCountArr.length-1)].addedDate.split("T")[1].split(":")[0] + ":" + growCountArr[(growCountArr.length-1)].addedDate.split("T")[1].split(":")[1]}}</h5>
                            </div>
                            
                            <div *ngIf="growCountArr.length <= 0" style="width:200px; height:230px; border-radius:25%; background-color:#9ff9aa; text-align: center">
                                <img style="width:50px; margin-top: 10px" src="../../assets/001-plant.png">
                                <h4>Sprouted</h4>
                                <h5>No Data Available!</h5>
                            </div>
                        </td>
                        <td style="padding:3px">
                            <i class="fas fa-angle-double-right fa-3x"></i>
                        </td>
                        <td style="padding:3px">
                            <div *ngIf="withFruitCountArr.length > 0" style="width:200px; height:230px; border-radius:25%; background-color:#9fbcf9; text-align: center">
                                <img style="width:50px; margin-top: 10px" src="../../assets/001-tomato.png">
                                <h4>With Yield</h4>
                                <h5><span style="font-size:36px; font-weight:bold">{{withFruitCountArr[(withFruitCountArr.length-1)].count}}</span></h5>
                                <h5>total plants</h5>
                                <h5>as recorded on</h5>
                                <h5>{{withFruitCountArr[(withFruitCountArr.length-1)].addedDate.split("T")[0] + " " + withFruitCountArr[(withFruitCountArr.length-1)].addedDate.split("T")[1].split(":")[0] + ":" + withFruitCountArr[(withFruitCountArr.length-1)].addedDate.split("T")[1].split(":")[1]}}</h5>
                            </div>
    
                            <div *ngIf="withFruitCountArr.length <= 0" style="width:200px; height:230px; border-radius:25%; background-color:#9fbcf9; text-align: center">
                                <img style="width:50px; margin-top: 10px" src="../../assets/001-tomato.png">
                                <h4>With Yield</h4>
                                <h5>No Data Available!</h5>
                            </div>
                        </td>
                  </tr>
                  <tr>
                      <td style="padding:3px">                        
                      </td>
                      <td style="padding:3px">                        
                      </td>
                      <td style="padding:3px">                        
                      </td>
                      <td style="padding:3px">                        
                      </td>
                      <td style="padding:3px; text-align:center">     
                          <i class="fas fa-angle-double-down fa-3x"></i>                   
                      </td>
                  </tr>
                  <tr>
                      <td style="padding:3px">                        
                      </td>
                      <td style="padding:3px">                        
                      </td>
                      <td style="padding:3px">
                        <div *ngIf="harvestedArr.hasOwnProperty('type')" style="width:200px; height:230px; border-radius:25%; background-color:#fccf8f; text-align: center">
                            <img style="width:50px; margin-top: 10px" src="../../assets/vegetable.png">
                            <h4>Harvested</h4>
                            <h5><span style="font-size:24px; font-weight:bold">{{harvestedArr.qty + harvestedArr.unit}}</span> of</h5>
                            <h5><span style="font-size:24px; font-weight:bold">{{harvestedArr.type}}</span></h5>
                            <h5>on {{harvestedArr.date}}</h5>
                        </div>
                        <div *ngIf="!harvestedArr.hasOwnProperty('type')" style="width:200px; height:230px; border-radius:25%; background-color:#fccf8f; text-align: center">
                            <img style="width:50px; margin-top: 10px" src="../../assets/vegetable.png">
                            <h4>Harvested</h4>
                            <h5>No Data Available!</h5>
                        </div>
                      </td>  
                      <td style="padding:3px">
                          <i class="fas fa-angle-double-left fa-3x"></i>
                      </td>
                      <td style="padding:3px">
                            <div *ngIf="destroyedCountArr.length > 0" style="width:200px; height:230px; border-radius:25%; background-color:#edafaf; text-align: center">
                                <img style="width:50px; margin-top: 10px" src="../../assets/002-cereals.png">
                                <h4>Destoyed</h4>
                                <h5><span style="font-size:36px; font-weight:bold">{{destroyedCountArr[(destroyedCountArr.length-1)].count}}</span></h5>
                                <h5>total plants</h5>
                                <h5>as recorded on</h5>
                                <h5>{{destroyedCountArr[(destroyedCountArr.length-1)].addedDate.split("T")[0] + " " + destroyedCountArr[(destroyedCountArr.length-1)].addedDate.split("T")[1].split(":")[0] + ":" + destroyedCountArr[(destroyedCountArr.length-1)].addedDate.split("T")[1].split(":")[1]}}</h5>
                            </div>
                            <div *ngIf="destroyedCountArr.length <= 0" style="width:200px; height:230px; border-radius:25%; background-color:#edafaf; text-align: center">
                                <img style="width:50px; margin-top: 10px" src="../../assets/002-cereals.png">
                                <h4>Destoyed</h4>
                                <h5>No Data Available!</h5>
                            </div>
                      </td>                    
                  </tr>
                </table>

                <span *ngIf="growCountArr.length > 0" class="grow-tip">
                        <i class="fas fa-chart-line"></i>
                        <span ><div class="row">
                            <div class="col-md-12">
                              <div style="display: block;">
                              <canvas baseChart width="400" height="400"
                                          [datasets]="growCountChartData"
                                          [labels]="growCountChartLabels"
                                          [options]="chartOptions"
                                          [colors]="growCountChartColors"
                                          [legend]="chartLegend"
                                          [chartType]="chartType"></canvas>
                              </div>
                            </div>                
                          </div></span>
                    </span>
        
                    <span *ngIf="withFruitCountArr.length > 0" class="fruit-tip">
                        <i class="fas fa-chart-line"></i>
                        <span ><div class="row">
                            <div class="col-md-12">
                                <div style="display: block;">
                                <canvas baseChart width="400" height="400"
                                            [datasets]="withFruitCountChartData"
                                            [labels]="withFruitCountChartLabels"
                                            [options]="chartOptions"
                                            [colors]="withFruitCountChartColors"
                                            [legend]="chartLegend"
                                            [chartType]="chartType"></canvas>
                                </div>
                            </div>                
                            </div></span>
                    </span>
        
                    <span *ngIf="destroyedCountArr.length > 0" class="destroyed-tip">
                        <i class="fas fa-chart-line"></i>
                        <span ><div class="row">
                            <div class="col-md-12">
                                <div style="display: block;">
                                <canvas baseChart width="400" height="400"
                                            [datasets]="destroyedCountChartData"
                                            [labels]="destroyedCountChartLabels"
                                            [options]="chartOptions"
                                            [colors]="destroyedCountChartColors"
                                            [legend]="chartLegend"
                                            [chartType]="chartType"></canvas>
                                </div>
                            </div>                
                            </div></span>
                    </span>
            </div>
          </div>
        </div>         
    </form>
  
  
  <!-- Form ends here -->
      </div>
    </div>
  </div>
  </div>

<!-- ========================= -->

<div class="modal fade" id="addcomment" tabindex="-1" role="dialog" aria-labelledby="addAssetModalLabel">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title" id="addParticipantModalLabel">Add Comments</h4>
          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
       
        </div>
        <div class="modal-body">
            <!-- Steps starts here -->
        <div class="requestwizard">
          <div class="requestwizard-row setup-panel">
            <table id="tbl1" style="width: 100%">
              <tr>
                  <td>
                      <div class="requestwizard-step">
                          <a id="add1" href="#add-a" type="button" class="btn btn-default btn-circle" disabled="disabled">1</a>
                          <p>Add Comments</p>
                      </div>
                  </td>
              </tr>
            </table>
            </div>
        </div>
        <hr>
    
    <form [formGroup]="commentForm">
        <div class="row setup-content" id="add-a">
            <div class="col-xs-12">
                <div class="col-md-12">
                  <table id="detTbl">
                    <tr>
                        <td style="width: 150px">
                            <label for="plotId"><b>PlotId</b></label>                        
            
                        </td>
                            <td>
                              <input formControlName="plotId" class="form-control" disabled>  
                                  
                            </td>
                        </tr>
                    <tr>
                        <td>
                            <label for="inspectiondate"><b>Inspection Date</b></label>
                        </td>
                      <td style="width: 150px">
                  
                        <input formControlName="inspectiondate" class="form-control" bsDatepicker [bsConfig]="bsConfig" >                     
  
                      </td>
                      
                    </tr>
                    <tr>
                        <td style="width: 150px">
                            <label><b>Inspection Time</b></label>                        
        
                        </td>
                        <td>
                            <timepicker formControlName="commenttime" [showMeridian]=false></timepicker>
                        </td>
                        </tr>
                    <tr>
                        <td>
                           <label for="cercomments"><b>Comment</b></label>
                        </td>
                        <td>
                            <input formControlName="cercomments" class="form-control">   
                            
                        </td>
                    </tr>
                  </table>
                  <table style="float : right;">
                        <tr>
                          <td style="padding : 5px;">
                            <button type="button" class="btn btn-default pull-right" data-dismiss="modal">Cancel</button>
                          </td>
                          <td style="padding : 5px;">
                                <button [promiseBtn]="toggleLoad"  (click)="addComment(commentForm)" type="submit" class="btn btn-success pull-right" ><div class="word">Submit</div><div class="loader" style="display:none"></div></button>
                          </td>
                        </tr>
                      </table>
                  
                </div>
            </div>
        </div>
       
        
  
       
    </form>
  
  
  <!-- Form ends here -->
      </div>
    </div>
  </div>
  </div>



<div class="modal fade" id="deleteAssetModal" tabindex="-1" role="dialog" aria-labelledby="deleteAssetModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="deleteAssetModalLabel">Delete Asset</h4>
      </div>
      <form [formGroup]="myForm">
        <div class="modal-body">
          Are you sure you want to delete this asset?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
          <button (click)="deleteAsset()" type="submit" class="btn btn-danger" data-dismiss="modal">Yes</button>
        </div>
      </form>
    </div>
  </div>
</div>











<div class="container">
	<div *ngIf="errorMessage" class="alert alert-danger" role="alert">
		<strong>Error:</strong> {{errorMessage}}
	</div>
  
  <div class="row">
    <div class="col-md-9 row">
        <img *ngIf = "allAssets != ''" src="../../assets/007-sprout.png" style="width: 45px; height: 45px">&nbsp;&nbsp;&nbsp;
        <h1 class="asset-title" id='assetName'>Manage Plots</h1>
    </div>
    <div *ngIf = "userType == 'ADMIN' || userType == 'FARMER'" class="col-md-3">
      <button style="width: auto !important" (click)="resetForm()" type="button" class="btn btn-primary" data-toggle="modal" data-target="#addAssetModal">
          <span style="font-size: 14px;font-family: inherit;border-right:1px solid rgba(255,255,255,0.5);padding-right:0.6em;margin-right:0.5em;vertical-align:middle;">
              <svg class="plus-svg" xmlns="http://www.w3.org/2000/svg" width="10" height="10" viewBox="0 0 10 10">
                <path fill-rule="evenodd" d="M5.5,4.5 L9.5,4.5 L10,4.5 L10,5.5 L9.5,5.5 L5.5,5.5 L5.5,9.5 L5.5,10 L4.5,10 L4.5,9.5 L4.5,5.5 L0.5,5.5 L0,5.5 L0,4.5 L0.5,4.5 L4.5,4.5 L4.5,0.5 L4.5,0 L5.5,0 L5.5,0.5 L5.5,4.5 Z"/>
              </svg>
          </span>
        Add Plots
      </button>
    </div>
  </div>
  <br>
  <div class="row">
    <div *ngIf = "allAssets != ''" class="col-md-12">
      <table class="table table-responsive"  style="margin: auto; width: 950px;">
        <thead class="thead">
          <tr class="thead-cols">
            
                <th class="info" style="min-width: 80px">Plot ID</th>
            
                <th class="info" style="min-width: 220px">Cultivation Start Date</th>
            
                <th class="info" style="min-width: 150px">Area Extent (m2)</th>
            
                <th class="info" style="min-width: 190px">Farm</th>
            
              <th class="info-actions" style="min-width: 200px">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let asset of allAssets">

            
                <td class="asset-properties">{{asset.plotId}}</td>
            
                <td class="asset-properties">{{asset.cultivationStartDate.toString().split('T')[0]}}</td>
            
                <td class="asset-properties">{{asset.extent}}</td>
            
                <td class="asset-properties">{{asset.farm.FarmLocation}}</td>
            
            <td>
                <button  type="button" title="view" (click)="getFormForView(asset.plotId);" class="btn btn-update" data-toggle="modal" data-target="#viewAssetModal">
                    <img src="../../assets/view.png">
                  </button>
                  <button (click)="getPlotdata(asset.plotId);cls();"  type="button" title="view" class="log btn btn-update">
                      <img src="../../assets/book.png" style="width: 20px;">
                    </button>
                <button type="button" title="view" (click)="getFormForComment(asset.plotId);" class="btn btn-update" data-toggle="modal" data-target="#addcomment">
                    <img src="../../assets/comment.png" style="width: 20px;">
                </button>
              <button (click)="getForm(asset.plotId);" type="button" class="btn btn-update" data-toggle="modal" data-target="#updateAssetModal">
                  <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                  width="12.8px" height="12.8px" viewBox="0 0 30.7 30.7" style="enable-background:new 0 0 30.7 30.7;" xml:space="preserve">
               <g>
                 <path d="M1.5,30.7c0.1,0,0.2,0,0.4,0l5.9-1.5c0.8-0.2,1.3-1,1.1-1.8c-0.2-0.8-1-1.3-1.8-1.1l-3.6,0.9l0.8-3.8
                   c0.2-0.8-0.4-1.6-1.2-1.8c-0.8-0.2-1.6,0.4-1.8,1.2L0,28.9c-0.1,0.5,0.1,1,0.4,1.4C0.7,30.6,1.1,30.7,1.5,30.7z"/>
                 <path d="M10.4,25.2c0.3,0.3,0.7,0.4,1.1,0.4c0.4,0,0.8-0.1,1.1-0.4L30.3,7.5c0.6-0.6,0.6-1.5,0-2.1l-4.9-4.9
                   C25.1,0.2,24.7,0,24.3,0c-0.4,0-0.8,0.2-1.1,0.4L5.5,18.2c-0.3,0.3-0.4,0.7-0.4,1.1s0.2,0.8,0.4,1.1L10.4,25.2z M24.3,3.6l2.8,2.8
                   L11.5,22l-2.8-2.8L24.3,3.6z"/>
               </g>
               </svg>
              </button>

              <button (click)="setId(asset.plotId);" type="button" class="btn btn-delete" data-toggle="modal" data-target="#deleteAssetModal">
                  <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                  width="13.8px" height="16px" viewBox="0 0 65.9 76.2" style="enable-background:new 0 0 65.9 76.2;" xml:space="preserve">
               <path d="M42.8,60.2V22.6c0-1.7-1.3-3-3-3s-3,1.3-3,3v37.6c0,1.7,1.3,3,3,3S42.8,61.9,42.8,60.2z M29.1,60.2V22.6c0-1.7-1.3-3-3-3
                 s-3,1.3-3,3v37.6c0,1.7,1.3,3,3,3S29.1,61.9,29.1,60.2z M56.2,19.6c-1.7,0-3,1.3-3,3V68c0,1.2-1,2.2-2.2,2.2H14.9
                 c-1.2,0-2.2-1-2.2-2.2V22.6c0-1.7-1.3-3-3-3s-3,1.3-3,3V68c0,4.5,3.7,8.2,8.2,8.2H51c4.5,0,8.2-3.7,8.2-8.2V22.6
                 C59.2,21,57.9,19.6,56.2,19.6z M62.9,10.3H49.3V3c0-1.7-1.3-3-3-3H19.6c-1.7,0-3,1.3-3,3v7.3H3c-1.7,0-3,1.3-3,3s1.3,3,3,3h59.9
                 c1.7,0,3-1.3,3-3S64.5,10.3,62.9,10.3z M43.3,10.3H22.6V6h20.7L43.3,10.3L43.3,10.3z"/>
               </svg>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
      <br><br>
    </div>
<br><br>
    <div *ngIf = "allAssets == ''" class="col-md-12">
        <img src="../../assets/007-sprout.png" style="display: block; margin-left: auto; margin-right: auto; margin-top: 50px">
        <div class="alert alert-warning" role="alert" style="text-align: center; margin-top: 30px; padding: 5px;"><h4>No plots available!</h4></div>
    </div>

<div id="historyview" class="history col-md-12" style="box-shadow: 0px 0px 6px 2px #ddd;">
  <br>
    <div class="col-md-9 row">
        <img src="../../assets/search.png" style="width: 45px; height: 45px">&nbsp;&nbsp;&nbsp;
        <h1 class="asset-title" id='assetName'> Plot Historian</h1>
    </div>
          
          <!--our-quality-shadow-->
          <div class="clearfix"></div>
          <!-- <h1 class="heading1">Plot Historian</h1> -->
          <div class="tabbable-panel margin-tops4 ">
            <div class="tabbable-line">
              <ul class="nav nav-tabs tabtop  tabsetting">
                <li class="active"> <a href="#tab_default_1" data-toggle="tab"> Activities </a> </li>
                <li> <a href="#tab_default_2" data-toggle="tab"> PH Readings</a> </li>
                <li> <a href="#tab_default_3" data-toggle="tab"> Other Details</a> </li>
               
              </ul>
              <div class="tab-content margin-tops">
                <div class="tab-pane active fade in" id="tab_default_1">
                  <div class="col-md-12">
                      <div *ngIf ="activity==''" class="alert alert-warning" role="alert" style="text-align: center; margin-top: 10px; padding: 5px;"><h4>No Plot Activities available!</h4></div>
                      <table *ngIf ="activity !=''"  class="table table-striped">
                        <thead>
                          <th>Timestamp</th>
                          <th>Activity</th>
                        </thead>
                        <tbody>
                            <tr *ngFor = 'let element of activity'>
                                <td>{{element.timestamp.split('T')[0]}}</td>
                                <td>{{element.activitytype}}</td>
                               
                              </tr>
                        </tbody>
                        </table>
                  </div>
                </div>
                <div class="tab-pane fade" id="tab_default_2">
                  <div class="col-md-12">
                      <div *ngIf ="ph==''" class="alert alert-warning" role="alert" style="text-align: center; margin-top: 10px; padding: 5px;"><h4>No Ph Readings available!</h4></div>
                      <table *ngIf ="ph !=''"  class="table">
                          <thead>
                            <th>ReadingTime</th>
                            <th>PH Value</th>
                          </thead>
                          <tbody>
                              <tr *ngFor = 'let element of ph' [ngClass]="{'color': (element.ph > 20 && element.ph < 50)}">
                                  <td>{{element.timestamp}}</td>
                                  <td>{{element.ph}}</td>
                                 
                                </tr>
                          </tbody>
                          </table>
                   </div>
                </div>
                <div class="tab-pane fade" id="tab_default_3">
                  <div class="col-md-6">
                      <table class="table">
                          <tbody>
                              <tr>
                                  <td><b>Farm Location</b></td>
                                  <td>{{plotinfo.farm.FarmLocation}}</td>
                                </tr>
                                <tr>
                                    <td><b>Owner Name</b></td>
                                    <td>{{plotinfo.farm.owner.name}}</td>
                                  </tr>
                                  <tr>
                                      <td><b>Certification Body</b></td>
                                      <td>{{plotinfo.farm.certification.certificationBody.name}}</td>
                                    </tr>
                                    <tr>
                                        <td><b>Company</b></td>
                                        <td>{{plotinfo.farm.owner.company.name}}</td>
                                      </tr>
                          </tbody>
                          </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
       
</div>
  </div>
</div>
<br><br>