<section *ngIf='!isLoggedIn'>
  <div class="loginmodal-container">
    <img src="../../assets/scarecrow.png" style="display: block; margin: auto !important">
    <h1>AgriBlock</h1>
    <h4 style="text-align:center">Login to your account</h4><br>

    <div *ngIf='isError' class="alert alert-danger" role="alert">
      {{error}}
    </div>

    <form (ngSubmit)="onLogIn(username,password)">
      <input [(ngModel)]="loginData.username" required #username="ngModel" type="text" name="username" placeholder="Username">
      <input [(ngModel)]="loginData.password" required #password="ngModel" type="password" name="password" placeholder="Password">
      <input type="submit" name="login" class="login loginmodal-submit" value="Login">
    </form>
  </div>
</section>

<section *ngIf="isLoggedIn">
  <app-navbar></app-navbar>  
  <router-outlet></router-outlet>
</section>